.App {
  text-align: center;
}

.calendar {
  width: 350px;
  height: 240px;
  font-size: 16px;
  text-align: center;
}

.calendar > .header {
  height: 44px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 16px;
}

.calendar > .header > .button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  cursor: pointer;
  user-select: none;
}

.calendar > .header > .button:hover {
  background: #e6e6e6;
}

.calendar .date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 50px;
  height: 36px;
  cursor: pointer;
}

.calendar .date:hover {
  background: #e6e6e6;
}

.calendar .isToday {
  background: #ffff76;
}

.calendar .isSelected {
  background: #006edc !important;
  color: white !important;
}


.calendar .nonCurrentMonth {
  flex: 1;
  min-width: 50px;
  height: 36px;
  color: #757575 !important;
  cursor: not-allowed;
}